<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../renderer.css" />
    <title>Rich Content Test Env</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
    />
  </head>

  <body>
    <div id="root"><%- html %></div>

    <script>
      window.__CONTENT_STATE__ = <%- serialize(initialState) %>;
      window.isMobile = <%- isMobile %>;
      window.locale = <%- '"' + locale + '"' %>;
      window.compId = <%- '"' + compId + '"' %>;
      window.testAppConfig = <%- serialize(testAppConfig) %>;
    </script>
    <script src="/<%- bundleName %>.bundle.js"></script>
  </body>
</html>